@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    /* Colors */
    --primary-color: #035D98;
    --secondary-color: #EE3D00;
    --third-color: #EEB000;
    --soft-blue: #e7f5ff;
    --warm-black: #080914;
    --black: #201e1c;
    --just-white: #fff;
    --grey: #323840;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Header */

section {
    padding: 100px;
    transition: background 0.5s;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(images/banner-compress.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner h1 {
    font-size: 4em;
    font-weight: 700;
    color: var(--secondary-color);
}

.banner h2 {
    font-size: 2em;
    color: var(--just-white);
    font-weight: 500;
}

.btn {
    position: relative;
    background: var(--secondary-color);
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.button.principal{
    display: inline-block;
    background: var(--warm-black);
    position: relative;
    width: 160px;
    height: 60px;
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.button.principal:hover {
    background: var(--secondary-color) url(images/pixel.png);
    color: var(--warm-black);
    transition-delay: 0.8s;
    background-size: 180px;
    animation: pixels 0.8s steps(8) forwards;
}

@keyframes pixels {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: 480px;
    }
}

.logoBx {
    position: relative;
    background-image: url(images/logo-naranja.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 280px;
}

#play {
    position: relative;
    background-image: url(images/boton-de-play.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    top: 20px;
    left: calc(50% - 20px);
    cursor: pointer;
    transition: all 2s ease-in;
}

#pause {
    position: relative;
    background-color: var(--warm-black);
    border-radius: 50%;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    background-image: url(images/pausa.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    top: 20px;
    left: calc(50% - 20px);
    cursor: pointer;
    transition: all 3s ease-in-out;
    transform: rotate(1080deg);
}

/* Menu */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header.sticky .logo {
    background-image: url(images/A-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

header .logo {
    background-image: url(images/logoNaranja.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: var(--just-white);
    text-decoration: none;
}

header ul li a:hover {
    color: var(--secondary-color);
    font-weight: 600;
}

header.sticky ul li a {
    color: var(--warm-black);
}

header.sticky ul li a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: var(--warm-black);
}

.heading.multicolor h2 {
    width: 25%;
    margin: auto;
    font-weight: 600;
    font-size: 30px;
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 0, 255));
	-webkit-background-clip: text;
	color: transparent;
}

.content {
    display: flex;
    justify-content: space-between;
}

/* About */

section.about .content {
    width: 80%;
    margin: auto;
}

section.about .sec {
    position: relative;
    background: var(--just-white);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .card {
    position: relative;
    width: 300px;
    height: 380px;
    background: var(--warm-black);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.025);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section .card::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(red, blue);
    animation: animate 8s linear infinite;
}

section .card::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: inherit;
    border-radius: 16px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.w50 {
    min-width: 50%;
}

.my-card {
    display: flex;
    justify-content: center;
}

.contentBx {
    text-align: justify;
    padding-right: 30px;
}

.contentBx h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.contentBx span {
    color: var(--primary-color);
    font-weight: bold;
}

.contentBx p {
    font-size: 1em;
    line-height: 1.7em;
}

section .card .container,
section .card .photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}

section .card .photoContainer .photo{
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}

section .card .photoContainer .photo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .card .photoContainer h3 {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: center;
    color: var(--primary-color);
}

section .card .photoContainer h3 span {
    font-weight: 400;
    color: var(--third-color);
    font-size: 0.75em;
}

section .card .sci {
    display: flex;
    margin-top: 15px;
}

section .card .sci li {
    list-style: none;
}

section .card .sci li a {
    position: relative;
    width: 50px;
    height: 50px;
    background: #E9F5FF;
    color: var(--primary-color);
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.5s;
}

section .card .sci li a:hover {
    color: #fff;

}

section .card .sci li a .fab {
    position: relative;
    z-index: 999;
}

section .card .sci li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.5s;
}

section .card .sci li a:hover:before {
    transform: scale(1);
}

.toggleDark {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #e9f5ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
}

section.dark .toggleDark {
    background: #404852;
}

section.dark {
    background: var(--warm-black);
}

section.dark .card {
    background: var(--grey);
}

section.dark .contentBx h2{
    color: var(--third-color);
}

section.dark .contentBx p {
    color: var(--just-white);
}

section.dark .photoContainer span {
    color: var(--secondary-color);
}

section.dark .card .photoContainer .h3 span {
    color: #ccc;
}

section.dark .card .photoContainer h3 {
    color: var(--just-white);
}

section.dark .card .sci li a {
    background: #404852;
}

.toggleDark:before {
    content: '\f186';
    font-family: fontAwesome;
    color: var(--primary-color);
}

section.dark .toggleDark::before {
    content: '\f185';
    color: var(--third-color);
}


/* Services */
.services {
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #035D98);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #035D98); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.heading.white{
    color: var(--just-white);
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .heading h2 {
    color: var(--just-white);
    background: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}

.services h3 {
    color: var(--secondary-color);
}

.services .content .servicesBx {
    padding: 40px 20px;
    background: var(--warm-black);
    color: var(--just-white);
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .content .servicesBx:hover {
    background: black;
}

.services .content .servicesBx img {
    max-width: 80px;
    filter: invert(1);
    transition: 0.3s ease-out;
}

.services .content .servicesBx img.filter:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in;
}

.services .content .servicesBx img.javascript:hover {
    filter: invert(88%) sepia(36%) saturate(1826%) hue-rotate(349deg) brightness(109%) contrast(101%);
}

.services .content .servicesBx img.css3:hover {
    filter: invert(70%) sepia(55%) saturate(6452%) hue-rotate(160deg) brightness(94%) contrast(99%);
}

.services .content .servicesBx img.vuejs:hover {
    filter: invert(54%) sepia(13%) saturate(1562%) hue-rotate(101deg) brightness(110%) contrast(97%);
}

.services .content .servicesBx img.php:hover {
    filter: invert(58%) sepia(13%) saturate(1219%) hue-rotate(198deg) brightness(84%) contrast(91%);
}

.services .content .servicesBx img.wordpress:hover {
    filter: invert(41%) sepia(27%) saturate(1181%) hue-rotate(154deg) brightness(86%) contrast(94%);
}

.services .content .servicesBx img.laravel:hover {
    filter: invert(32%) sepia(51%) saturate(6873%) hue-rotate(348deg) brightness(100%) contrast(103%);
}

.services .content .servicesBx h2 {
    font-size: 20px;
    font-weight: 600;
}

/* Work Section */

.work .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .content .workBx {
    width: 50%;
    padding: 20px;
}

.work .content .workBx img {
    max-width: 100%;
}

/* Testimonials */

/* .testimonial {
    background: #F7F7F7;
}

.testimonial .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial .content .testimonialBx {
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: var(--primary-color);
}

.testimonial .content .testimonialBx p {
    color: var(--just-white);
    font-size: 16px;
    font-weight: 300;
}

.testimonial .content .testimonialBx h3 {
    margin-top: 40px;
    text-align: end;
    color: var(--just-white);
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}

.testimonial .content .testimonialBx h3 span {
    font-size: 14px;
    font-weight: 400;
} */

/* Contacto */

.contact {
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #080914, #035D98);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #080914, #035D98); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
    color: var(--just-white);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #111;
    color: var(--just-white);
    resize: none;
}

.formBx form textarea {
    min-height: 180px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #999;
}

.formBx form input[type="submit"] {
    max-width: 100px;
    background: var(--secondary-color);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo {
    min-width: 40%;
}

.contactInfoBx {
    position: relative;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: var(--just-white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: var(--just-white);
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 0;
}

#mailto {
    opacity: 0;
}

/* Copyright */

footer {
    position: relative;
    width: 100%;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #080914, #035D98);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #080914, #035D98); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--just-white);
    min-height: 100px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .sci li {
    list-style: none;
}

footer .sci li a {
    font-size: 2em;
    color: var(--just-white);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
}

footer .sci li a:hover {
    transform: translateY(-10px);
    opacity: 1;
}

footer p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 12px;
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--warm-black);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

/* Scroll Top */
.scrollTop {
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: var(--secondary-color) url(images/up.svg);
    border-radius: 50%;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scrollTop.active {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}

/* Responsive */

@media (max-width: 1024px) {
    header,
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 75px;
        left: -100%;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: var(--warm-black);
        transition: 0.5s;
        z-index: 999999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: var(--secondary-color);
        font-size: 28px;
        margin: 10px;
    }

    header.sticky .menu {
        background: var(--warm-black);
    }

    header.sticky ul li a {
        color: var(--primary-color);
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    
    .toggle.active {
        background: url(images/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    header.sticky .toggle {
        filter: invert(1);
    }

    section {
        padding: 100px 50px;
    }

    .banner {
        padding: 150px 50px 100px;
    }

    .banner h1 {
        font-size: 2.8em;
    }

    .banner h2 {
        font-size: 1.6em;
        margin-top: 10px;
    }

    .logoBx {
        width: 200px;
        height: 200px;
    }

    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .heading h2 {
        font-size: 24px;
    }

    .heading.multicolor h2 {
        width: 30%;
    }

    .contentBx h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .w50 {
        margin-bottom: 20px;
    }

    .services .content .servicesBx {
        margin: 10px;
    }

    .work .content .workBx {
        width: 50%;
        padding: 10px;
    }

    .testimonial .content .testimonialBx {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
    }

    .testimonial .content .testimonialBx h3{
        margin-top: 20px;
    }

    .contactInfo {
        margin: 20px 0;
    }
}

@media (max-width: 768px) {
    header,
    header.sticky {
        padding: 20px 20px;
    }

    .banner {
        padding: 0px 90px 40px 90px;
    }

    .banner h1 {
        line-height: 1.2em;
        font-size: 2.4em;
    }
    
    .banner h2 {
        font-size: 1.6em;
    }

    section {
        padding: 100px 20px;
    }

    .heading.multicolor h2 {
        width: 40%;
    }

    footer .sci li a {
        font-size: 1.5em;
    }

    footer p {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .all-logo {
        display: none;
    }
}

@media (max-width: 425px) {

    .banner {
        padding: 0px 120px 0px 120px;
    }

    .banner .textBx {
        text-align: center;
    }

    .banner .textBx h1 {
        font-size: 3.4em;
    }

    .banner .textBx .buttons {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }
    
    .button.principal {
        margin: 6px;
        width: 150px;
        letter-spacing: 1px;
    }

    .heading.multicolor h2 {
        width: 90%;
    }

    section.about .content {
        flex-wrap: wrap;
    }

    .work .content .workBx {
        width: 100%;
    }

    section.contact .content {
        flex-wrap: wrap;
    }

    section.contact .content .contactInfo {
        min-width: 100%;
    }

    section.contact .content .formBx {
        min-width: 100%;
    }

    .formBx form input[type="submit"] {
        max-width: inherit;
    }
}